* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Open Sans';
}

/* Boot CSS */
img  {
    width: 100%;
    max-width: 400px;
}

.text-center {
    text-align: center;
}

.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;
}

.w50 {
    padding: 0 10px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/* Estilização */

.sucesso {
    display: none;
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 999;
    padding: 15px 2%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #86e67a;
}

.erro {
    display: none;
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 999;
    padding: 15px 2%;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #c94e42;
}

.overlay-loading {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
}

.overlay-loading img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

header {
    background-color: #3D437A;
    padding: 20px 0;
}

header .logo {
    font-size: 23px;
    font-weight: 300;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 6px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    display: inline-block;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

.banner-container {
    width: 100%;
    height: 600px;
    position: relative;
}

.banner-single {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.6);
}

section.banner-container form {
    width: 93%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

section.banner-container form h2 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form input[type=email] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 23px;
    padding-left: 10px;
    border: 0;
}

section.banner-container form input[type=submit] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00C59E;
    color: white;
    font-size: 23px;
    padding-left: 10px;
    cursor: pointer;
    border: 0;
}

section.descricao-autor {
    padding: 40px 0;
}

section.descricao-autor h2 {
    font-size: 28px;
    font-weight: 300;
}

section.descricao-autor img {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

section.descricao-autor p {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    font-weight: 300;
}

section.especialidades {
    padding: 40px 0;
    background: #E2E2E2;
}

section.especialidades h2.title {
    font-size: 30px;
    font-weight: 400;
    color: #999;
    text-align: center;
}

.box-especialidade {
    margin: 40px 0;
    text-align: center;
    padding: 0 30px;
}

.box-especialidade h3 {
    font-size: 40px;
    color: #404580;
}

.box-especialidade h4 {
    font-weight: 300;
    color: #BABABA;
    font-size: 25px;
}

.box-especialidade p {
    color: #444;
    font-size: 15px;
    margin-top: 10px;
}

section.extras {
    padding: 30px 0;
    background: #404580;
}

.servicos-container, .depoimentos-container {
    padding: 0 50px;
}

section.extras .title {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 15px;
}

.depoimento-single {
    padding: 15px 0;
    border-bottom: 1px solid #5056A0;
}

p.depoimento-descricao {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

p.nome-autor {
    color: white;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;
}

.servicos ul{
    margin: 20px 0;
}

.servicos li {
    font-size: 15px;
    color: white;
    font-weight: 300;
    margin-bottom: 15px;
}

footer {
    color: white;
    background: #313462;
    padding: 30px 0;
    text-align: center;
    font-size: 16px;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

section.erro-404 h2 {
    text-align: center;
    color: #444;
    font-weight: 400;
    border-top: 2px solid #444;
}

section.erro-404 p {
    margin-top: 8px;
    font-size: 16px;
    color: #444;
    font-weight: lighter;
    text-align: center;
}

section.erro-404 a {
    font-size: 16px;
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

.wrapper-404 {
    position: absolute;
    padding: 0 2%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    left: 50%;
    max-width: 1280px;
}

.contato-container {
    padding: 40px 0;
    text-align: center;
}

.contato-container input[type=text] {
    margin: 8px 0;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    color: #444;
}

.contato-container textarea {
    margin: 8px 0;
    width: 100%;
    height: 120px;
    padding-left: 8px;
    font-size: 16px;
    max-width: 800px;
    color: #444;
    resize: vertical;
}

.contato-container input[type=submit] {
    background: #00c59E;
    width: 140px;
    height: 40px;
    color: white;
    border: 0;
    cursor: pointer;
}

.bullets {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bullets span {
    margin: 0 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #444;
}

.bullets span.active-slider {
    background-color: white;
}

/* portal de notícias */
.header-noticias {
    width: 100%;
    background: #333864;
    padding: 40px 0;
}

.header-noticias h2:nth-of-type(1) {
    font-size: 41px;
    color: white;
}

.header-noticias h2 > b {
    color: #F40B5C;
}

.header-noticias h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

section.container-portal {
    padding: 50px 0;
}

.sidebar {
    float: left;
    width: 30%;
}

.box-content-sidebar {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #DDD;
    padding: 15px;
    color: #333864;
}

.box-content-sidebar h3 {
    font-size: 18px;
    font-weight: normal;
}

.box-content-sidebar input[type=text], .box-content-sidebar select {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid rgb(220, 220, 220);
    padding-left: 8px;
}

.box-content-sidebar select {
    background: white;
}

.box-content-sidebar input[type=submit] {
    border: 0;
    cursor: pointer;
    background: #F40B5C;
    width: 115px;
    height: 35px;
    font-weight: bold;
    margin: 10px 0;
    color: white;
}

.autor-box-portal {
    margin-top: 10px;
}

.box-img-autor {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url('../images/foto.jpg') ;
    background-position: center;
    background-size: 100%;
    margin-bottom: 20px;
}

.texto-autor-portal h3, .texto-autor-portal p {
    color: #646464;
}

.texto-autor-portal p {
    font-size: 14px;
    margin-top: 8px;
    font-weight: lighter;
}

.conteudo-portal {
    float: left;
    width: 70%;
    padding: 0 2%;
}

.header-conteudo-portal {
    color: #333864;
}

.header-conteudo-portal h2 {
    font-size: 25px;
    font-weight: normal;
}

.header-conteudo-portal h2 > span {
    border-bottom: 3px solid #333864;
}

.box-single-conteudo {
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.box-single-conteudo h2 {
    color: #646464;
    font-weight: lighter;
    font-size: 22px;
}

.box-single-conteudo p {
    color: #646464;
    font-weight: normal;
    font-size: 15px;
    margin-top: 8px;
}

.box-single-conteudo a {
    margin-top: 8px;
    background: #00B95C;
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 3px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.paginator {
    text-align: center;
}

.paginator a {
    margin: 0 10px;
    display: inline-block;
    padding: 6px 4px;
    border: 1px solid rgb(220, 220, 220);
    text-decoration: none;
    color: #666;
}

.paginator a.active-page {
    background: rgb(220, 220, 220);
}

/* Notícia single */

section.noticia-single {
    padding: 40px 0;
    color: #646464;
}

section.noticia-single header {
    background-color: transparent;
}

section.noticia-single h1 {
    font-size: 26px;
    border-bottom: 2px solid #646464;
}

section.noticia-single article {
    margin-top: 15px;
}

section.noticia-single h3, section.noticia-single h2, section.noticia-single p {
    margin: 10px 0;
}

section.noticia-single ul {
    margin: 10px 0;
    list-style-position: inside;
}

section.noticia-single img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {

    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul {
        position: absolute;
        left: 0;
        top: 55px;
        display: none;
        z-index: 3;
        text-align: center;
        width: 100%;
    }

    nav.mobile li {
        font-weight: 300;
        font-size: 17px;
        background: white;
        padding: 8px 0;
        border-bottom: 1px solid #ccc;
    }

    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;
    }

    img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .w50 {
        width: 100%;
        padding: 20px;
    }

    .w33 {
        width: 100%;
        padding: 20px;
    }

    .box-especialidade {
        padding: 40px 20px;
        margin: 0;
    }

    .conteudo-portal {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }
    
}